---
# Google-style with minor adjustments for C++20 and header-only library.
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
FixNamespaceComments: true
IncludeBlocks: Preserve
NamespaceIndentation: None
PackConstructorInitializers: Never
ReflowComments: true
SortIncludes: false
SpaceAfterTemplateKeyword: false
Standard: c++20
...
