---
Checks: >
    clang-diagnostic-*,
    clang-analyzer-*,
    bugprone-*,
    modernize-*,
    performance-*,
    readability-*,
    -readability-identifier-length,
    -readability-magic-numbers,
    -modernize-use-trailing-return-type,
    -modernize-avoid-c-arrays,
    -bugprone-easily-swappable-parameters,
    -readability-function-cognitive-complexity,
    -readability-convert-member-functions-to-static,
WarningsAsErrors: >
    clang-diagnostic-*,
    clang-analyzer-*,
AnalyzeTemporaryDtors: false
FormatStyle: file
...
